ParkFifty/war/WEB-INF/classes/*
ParkFifty/war/parkfifty/*
ParkFifty/gwt-unitCache/*
ParkFifty/.classpath
ParkFiftyTestCases/bin/*
ParkFiftyTestCases/.clover/*
ParkFiftyTestCases/.classpath
ParkFifty/war/WEB-INF/appengine-generated/local_db.bin
!.gitignore