/** Add css rules here for your application. */


@sprite body {
	gwt-image: "pfbg";
	background-color: #efefef;
}

#uiWrapper {
	margin: 0 auto;
	width: 960px;
}

#uiHeader {
	margin: 10px 0 0 0;
}

#uiContent {
	margin: 30px 0 0 0;
}

#uiFooter {
	
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.companyWidget {
	float: right;
}

.validateError {
	background: #ffff66;
}

.xclamation {
	margin: 0 5px;
	padding: 0 0;
}
	
