
/** Add css rules here for your application. */

@sprite body {
	gwt-image: "pfbg";
	background-color: #efefef;
}

#uiWrapper {
	margin: 0 auto;
	width: 960px;
}

#uiHeader {
	height: 40px;
}

#uiContent {
	margin: 2px 0 0 0;
	height: 550px;
}

#uiFooter {
	margin: 1px 0 0 0;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.companyWidget {
	float: right;
}

.validateError {

}

.xclamation {
	margin: 0px 5px;
	padding: 0px 0px;
	border-top-width: 7px none;
}

.textBox {
	margin: 3px 0;
	padding: 4px 2px;
	font-size: 100%;
}