body,div {
	margin: 0;
	padding: 0;
	font-family: Tahoma, “Lucida Grande”, Arial, sans-serif;
	font-size: 11pt;
}

/** Add css rules here for your application. */
@sprite body {
	gwt-image: "pfbg";
	background-color: #efefef;
}

#uiWrapper {
	margin: 0 auto;
	width: 960px;
}

#uiHeader {
	height: 40px;
}

#uiContent {
	margin: 0 0 5px 0;
	padding: 0 5px 5px 5px;
	height: 540px;
}

#uiFooter {
	margin: 1px 0 0 0;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.companyWidget {
	float: right;
}

.validateError {
	
}

.xclamation {
	margin: 0px 5px;
	padding: 0px 0px;
	border-top-width: 7px none;
}

.textBox {
	margin: 3px 0;
	padding: 2px 2px;
	font-size: 100%;
}

.floatR {
	float: right;
}

.floatL {
	float: left;
}

.navbar {
	padding: 10px 0 5px 0;
	clear: both;
	text-align: center;
}

.title {
	padding: 5px;
}

.titleSection {
	font-size: 125%;
	font-weight: bold;
}

.button {
	width: 75px;
}

.popup {
	font-size: 75%;
}

.labelCol {
	width: 150px;
}

.fieldCol {
	width: 275px;
	text-align: left;
}

.labelCell {
	text-align: right;
}

.labelColor {
	color: #000;
}

.fieldCell {
	text-align: left;
}

.column {
	border: 2px solid #35AECF;
	padding: 5px;
}

.center {
	text-align: center;
}

.errorMsgArea {
	height: 10px;
}

.errorMsg {
	color: red;
}

a:hover {
	color: #0066CC;
	text-decoration: none;
	cursor: pointer;
}

/****************** TOP NAV **********************/
.topNav {
	margin-top: 7.5px;
	margin-right: 5px;
	font-size: 12pt;
	color: #000;
}

/****************** NAVIGATION *******************/
#uiMainNav {
	top: 0;
	margin: 0 auto;
	padding-bottom: 10px;
	align: center;
	border-bottom: 1px solid #EFEFEF;
}

#uiMainNav ul {
	margin: 0 auto 0 auto;
	display: block;
	padding: 0 0 23px 0;
	white-space: nowrap;
	width: 640px;
	/* float:left; */
}

#uiMainNav ul li {
	list-style-type: none;
	width: 150px;
	float: left;
	text-align: center;
}

#uiMainNav ul li a {
	padding: 5px 0 0 0;
	height: 25px;
	display: block;
}

#uiMainNav li a:link,#uiMainNav li a:visited {
	font-size: 12pt;
	font-weight: bold;
	font-family: Tahoma, "Lucida Grande", Arial, sans-serif;
	text-decoration: none;
	color: #999;
	font-weight: bold;
}

#uiMainNav li a:hover {
	background: transparent;
	display: block;
	border-bottom: 4px solid #FFF;
}

#uiMainNav ul li.active a:hover {
	border-bottom: 4px solid #FFF;
}

#uiMainNav ul li.active a {
	color: #FFF;
	background-color: #35AECF;
	border-bottom: 4px solid #EFEFEF;
}

#uiMainNav ul li.active {
	background-color: #EFEFEF;
}

#uiMainNav li a:hover {
	color: #000;
}

/********************* REGISTRATION *********************/
.textBoxCombo {
	width: 450px;
}

.textBoxCombo label {
	display: inline-block;
	width: 150px;
	text-align: right;
	padding-right: 5px;
}

.textBoxCombo label.error {
	color: #FE2727;
}

.textBoxCombo input {
	border-color: #35aecf;
	border-style: solid;
	border-width: 1px;
	padding: 3px;
	margin: 5px 0;
	font-size: 100%;
}

.textBoxCombo input.error {
	border-color: #FE2727;
	border-width: 1px;
}

.textBoxCombo input:focus {
	background-color: #FBFF88;
}

.textBoxCombo span {
	position: absolute;
	width: 150px;
	background-color: #FFF;
	padding: 2px 5px 2px 5px;
	margin-top: 5px;
	margin-left: 20px;
	z-index: 999;
	border: 1px solid #35AECF;
	font-size: 80%;
}

/********************* PLEASE WAIT **********************/
.pleaseWait {
	background: none repeat scroll 0 0 transparent;
	border: none;
	padding: 5px;
}

/********************* APP BODY *************************/
#uiBody {
	height: 515px;
	width: 100%;
}