body,div
	{
	margin: 0;
	padding: 0;
	font-family: Tahoma, “Lucida Grande”, Arial, sans-serif;
	font-size: 11pt;
}

/** Add css rules here for your application. */

@sprite body {
	gwt-image: "pfbg";
	background-color: #efefef;
}

#uiWrapper {
	margin: 0 auto;
	width: 960px;
}

#uiHeader {
	height: 40px;
}

#uiContent {
	margin: 2px 0 0 0;
	padding:5px;
	height: 540px;
}

#uiFooter {
	margin: 1px 0 0 0;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.companyWidget {
	float: right;
}

.validateError {

}

.xclamation {
	margin: 0px 5px;
	padding: 0px 0px;
	border-top-width: 7px none;
}

.textBox {
	margin: 3px 0;
	padding: 2px 2px;
	font-size: 100%;
}

.floatR {
	float: right;
}

.floatL {
	float: left;	
}

.navbar {
	padding:10px 0 5px 0;
	clear:both;
	text-align: center;
}

.title {
	padding: 5px;
}
.titleSection {
	font-size: 125%;
	font-weight: bold;
}
.button {
	width:75px;
}

.popup {
	font-size: 75%;
}

.labelCol {
	width: 150px;
}

.fieldCol {
	width: 275px;
	text-align: left;
}

.labelCell {
	text-align: right;
}

.fieldCell {
	text-align: left;
}

.column {
	border: 2px solid #35AECF;
	padding: 5px;
}

.center {
	text-align: center;
}

.errorMsgArea {
	height: 10px;
}

.errorMsg {
	color: red;
}


a:hover {
    color: #0066CC;
    text-decoration: none;
    cursor: pointer;
}